doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='https://igv.org/web/img/favicon.ico')
    title igv.js
    // IGV JS
    script(src="https://igv.org/web/release/2.0.1/dist/igv.min.js")
  body
    h1 Alignments from a htsget server (DNAnexus)
    #myDiv(style='padding-top: 50px;padding-bottom: 20px; height: auto')
    script(type='text/javascript').
      document.addEventListener("DOMContentLoaded", function () {
      var div = document.getElementById("myDiv");
      var options = {
      genome: "hg19",
      locus: "chr21:9,411,410-9,511,410",
      tracks: [
        {
          type: 'variant',
          sourceType: 'htsget',
          url: 'http://localhost:3333/htsget/v1/data/NA18537?referenceName=None&start=9411410&end=19411410',
          name: 'NA18537',
          format: 'VCF'
        }]
      };
      igv.createBrowser(div, options)
      .then(function (browser) {
      console.log("Created IGV browser");
      })
      })
